In [3]:
from pyecharts.charts import *
from pyecharts import options as opts
from pyecharts.globals import CurrentConfig
import pyecharts.faker as F
from pyecharts.faker import Faker
import numpy as np
import pandas as pd
import os

In [4]:
path=r"E:\科研\ESV计算\Sri Lanka\SubDivision"

In [9]:
mapTable={
    1:"水系",
    2:"森林(针+针阔+阔叶)//3",
    4:"湿地",
    5:"耕地(旱地)",
    7:"城镇用地",
    8:"裸地",
    9:"冰川积雪",
    10:"云层",
    11:"草原"
}

In [12]:
values=r"E:\科研\ESV计算\Sri Lanka\ESV_Pro.csv"
v=pd.read_csv(values)
v.drop(v.columns[0],axis=1,inplace=True)
v

,Unnamed: 0,食物生产,原料生产,水资源供给,气体调节,气候调节,净化环境,水文调节,水土保持土壤保持,维持养分循环,生物多样性,景观美学
0,水系,12888.800,3705.53,133560.190,12405.470,36894.19,89416.050,1647188.640,14983.230,1127.770,41083.0500,30449.790
1,冰川积雪,0.000,0.00,34799.760,2899.980,8699.94,2577.760,114871.430,0.000,0.000,161.1100,1449.990
2,草原,1611.100,2255.54,1288.880,8216.610,21588.74,7088.840,15788.780,9988.820,805.550,9022.1600,4027.750
3,耕地(旱地),13694.350,6444.40,322.220,10794.370,5799.96,1611.100,4349.970,16594.330,1933.320,2094.4300,966.660
4,湿地,8216.610,8055.50,41727.490,30610.900,57999.60,57999.600,390369.530,37216.410,2899.980,126793.5700,76205.030
5,裸地,0.000,0.00,0.000,322.220,0.00,1611.100,483.330,322.220,0.000,322.2200,161.110
6,森林(针+针阔+阔叶)//3,4398.303,4833.30,5268.297,33398.103,99888.20,29048.133,62236.793,40648.053,3109.423,37002.1337,16223.777

In [57]:
tem

   OID  Value     Count
0    0      1   1479924
1    1      2  19881387
2    2      4    182776
3    3      5   9125376
4    4      7   3301442
5    5      8     96461
6    6     11  10739580

In [28]:
def f(tem):
    Sum=0
    for i in range(len(tem)):
        if(k:=mapTable[tem['Value'][i]]) in v['Unnamed: 0'].unique():
            _=tem['Count'][i]/100
            Sum+=v[v['Unnamed: 0']==k].iloc[0,1:].sum()*_
    return Sum

In [31]:
from collections import defaultdict

In [38]:
def getValue(year):
    dicT=defaultdict(int)
    tabs=os.listdir(path+r"\%sTabs"%year)
    total_esv=0
    for i in tabs:
        tb=pd.read_excel(path+r"\%sTabs\\"%year+i)
        total_esv+=(k:=f(tb))
        dicT[i.split("_")[0]]=k/1e10
    return total_esv/1e10,dicT

In [40]:
Stable=[getValue(i) for i in range(2017,2023)]

In [41]:
DataShow=pd.DataFrame([],columns=[str(i) for i in range(2017,2023)])

In [42]:
for i in range(2017,2023):
    DataShow[str(i)]=Stable[i-2017][1]

In [43]:
DataShow

                   2017       2018       2019       2020       2021       2022
Ampara        11.296435  11.587085  11.279826  12.079180  12.530255  12.371382
Anuradhapura  17.031783  15.686618  17.060977  17.419457  18.396809  18.137012
Badulla        6.796713   7.096854   6.784429   6.969959   7.056044   6.914448
Batticaloa     5.310034   5.543361   4.997107   5.343500   5.750006   5.945730
Colombo        0.945667   0.909656   0.900640   0.878562   0.889909   0.931576
Galle          4.634715   4.473849   4.404865   4.216502   4.390026   4.368008
Gampaha        2.029138   1.624733   1.642853   1.503786   1.710621   1.718974
Hambantota     5.993046   6.217076   6.154505   6.263378   5.943816   5.830364
Jaffna         2.969517   2.738570   2.649135   2.741420   3.486084   3.495388
Kalutara       4.337098   4.153253   4.144926   4.063170   4.147648   4.182415
Kandy          4.638105   4.808302   4.433323   4.533738   4.720383   4.622503
Kegalle        4.868655   4.600250   4.517306   4.477193   4.599401   4.619685
Kilinochchi    3.041613   2.836259   2.956761   3.036137   3.646346   3.532681
Kurunegala    11.724394  10.030061  11.096099  10.468017  11.006257  10.393176
Mannar         5.751561   5.580500   5.686416   5.809078   6.178485   6.071837
Matale         5.730737   5.855629   5.851862   5.901968   6.155465   6.067665
Matara         3.237748   3.200653   3.102680   2.992795   3.051651   3.061559
Moneragala    15.427748  15.911651  15.803597  16.430053  16.325931  16.053432
Mullaitivu     8.350149   8.190638   8.679760   8.698950   9.273916   9.122557
NuwaraEliya    4.634669   4.812005   4.453799   4.411895   4.679207   4.650605
Polonnaruwa    8.630712   9.229041   8.865308   9.217727   9.584128   9.641864
Puttalam       9.716515   8.880088   9.707316   9.537661  10.134806   9.702362
Ratnapura      9.456516   9.622662   9.462861   9.210944   9.440648   9.429483
Trincomalee    7.519291   7.658497   7.680970   7.797964   8.436885   8.442707
Vavuniya       5.496234   5.050363   5.200164   5.159095   5.500716   5.383247

In [45]:
DataShow.to_csv(r"E:\科研\ESV计算\Sri Lanka\Province_ESV.csv")

In [46]:
import imageio

In [53]:
def create_gif(filelist,name,dur=1.5):
    IMG=[]
    for i in filelist:
        IMG.append(imageio.imread(i))
    return imageio.mimsave(name,IMG,'GIF',duration=dur)

In [54]:
path=[os.path.join(r"E:\科研\ESV计算\Sri Lanka\Res\Img",i) for i in os.listdir(r"E:\科研\ESV计算\Sri Lanka\Res\Img")]

In [55]:
path

['E:\\科研\\ESV计算\\Sri Lanka\\Res\\Img\\2017.png',
 'E:\\科研\\ESV计算\\Sri Lanka\\Res\\Img\\2018.png',
 'E:\\科研\\ESV计算\\Sri Lanka\\Res\\Img\\2019.png',
 'E:\\科研\\ESV计算\\Sri Lanka\\Res\\Img\\2020.png',
 'E:\\科研\\ESV计算\\Sri Lanka\\Res\\Img\\2021.png',
 'E:\\科研\\ESV计算\\Sri Lanka\\Res\\Img\\2022.png',
 'E:\\科研\\ESV计算\\Sri Lanka\\Res\\Img\\res.gif']

In [56]:
create_gif(path,r"E:\科研\ESV计算\Sri Lanka\Res\Img\res.gif")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_25696\2421141426.py:4: DeprecationWarning: Starting with ImageIO v3 the behavior of this function will switch to that of iio.v3.imread. To keep the current behavior (and make this warning disappear) use `import imageio.v2 as imageio` or call `imageio.v2.imread` directly.
  IMG.append(imageio.imread(i))